* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #F6E58D;
  color: #211A2E;
}

#root {
  width: 100%;
  min-height: 100vh;
}
